<!DOCTYPE html>
<html lang="en">

<head>
  <title>기운팜팜</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <img src="../static/images/logo2.jpg" alt="" width="200" height="70">
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children">
                  <a href="#">Shop</a>
                  <ul class="dropdown">
                    <li><a href="shop.html">심장 &amp; 신경</a></li>
                    <li><a href="shop.html">이비인후과</a></li>
                    <li><a href="shop.html">안약</a></li>
                    <li><a href="shop.html">비뇨기과 &amp; 항문</a></li>
                    <li><a href="shop.html">알레르기 &amp; 구충제</a></li>
                    <li><a href="shop.html">치과</a></li>
                    <li><a href="shop.html">비타민</a></li>
                    <li><a href="shop.html">그 외</a></li>
                  </ul>
                </li>
                <li class="active"><a href="custom.html">Custom</a></li>
                <li><a href="tips.html">Tips</a></li>
                <li><a href="location.html">Locate</a></li>
                <li><a href="contact.html">Login</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="cart.html" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>